{
  "presets": [["env"]],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["yntax-object-rest-spread"]
    }
  }
}
